+b('header').header
	.b-container
		+e('').wrap
			+e('').left
				+e('a')(href="#").link
					+e('img')(src="img/logo.png").img
			+e('').middle
				+b('nav').menu
					+e('a')(href="#").item О нас
					+e('a')(href="#").item Решения
					+e('a')(href="#").item Виды
					+e('a')(href="#").item Галерея
					+e('a')(href="#").item Отзывы
					+e('a')(href="#").item Контакты
			+e('').right
				+e('span').number 8 (495) 722-53-24
				+e('span').time-work с 09:00 до 23:00 без выходных
				+e('a')(href="#").order Заказать обратный звонок