mixin made-solution
	+b('').made-solution
		+e('img')(src="img/1.jpg").img
		+e('span').title Гостинная 21 м<sup>2</sup>
		+e('').price от 10 000 руб.
		+e('').btn-wrap
			+b('a')(href="#").btn._small Получить точный расчет